fastapi
uvicorn[standard]
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
rank-bm25
pypdf
pydantic-settings
pymongo
python-dotenv 
langgraph
sentence-transformers
pytest 
httpx
langchain-huggingface
numpy
langchain-text-splitters
langchain_chroma
pytest-asyncio